<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p> -->

<div>
  Input 1 : 
  <input [(ngModel)] = "varA" type="text">
</div>

<div>
  Input 2 : 
  <input [(ngModel)] = "varB" type="text">
</div>

<br>

<button  (click)="hitung(varA,varB)">Hitung</button>

<br>
<br>

<div *ngIf="hasil">
  Hasil : {{hasil}}
</div>
<br>
 <!-- untuk tampilkan pola -->
<div *ngIf="hasil">
  {{title}}
</div>
<br>
<div *ngIf="hasil">
  <div *ngFor="let row of pattern">
    {{row}}
  </div>
</div>




